<h1>Editing reader</h1>

<% form_for(@reader) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :identity_code %><br />
    <%= f.text_field :identity_code %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @reader %> |
<%= link_to 'Back', readers_path %>
